.adminPage {
  width: 100%;
  background: #F8FAFC;
  font-family: 'Raleway', sans-serif;
}

.adminPage__container {
  max-width: 1280px;
  margin: 80px auto;
}

.adminPage__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #17324d;
}
